/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*GLOBAL---------------------------------------*/
@font-face {
	font-family: OilBats;
	src: url(OilBats.ttf);
}

* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	font-family: OilBats, sans-serif;
	margin: 0;
	padding: 0;	
}

/*BODY INDEX---------------------------------------*/
/*remove scroll bar from body on index page*/
.index {
	color: #fff;
	font-family: OilBats, sans-serif;
	overflow: hidden;
}

/*index page view window*/
section {
	height: 100vh;
}

/*Main title on index page*/
#home > div > h1 {
	font-size: 6vw;
	margin: 5%;
	max-width: 100px;	
}

/*redefine h2 subtitle on all pages*/
h2 {
	font-size: 5vw;
	margin-bottom: 40px;
}

/*container for all sections index and animations*/
.index .mainContent {
	left: 0;
	position: absolute;
	top: 0;	
	-webkit-transition: -webkit-transform 1s ease-out;	
	transition: -webkit-transform 1s ease-out;	
	-o-transition: transform 1s ease-out;	
	transition: transform 1s ease-out;	
	transition: transform 1s ease-out, -webkit-transform 1s ease-out; 
}

/*Buttons on index page*/
.index-link {
	background-color: rgba(250,250,250,0.07);
	border: 2px solid rgba(255,255,255,0.56);
	border-radius: 35px;
	color: white;
	font-size: 2vw;
	padding: 20px 40px;
	text-decoration: none;
	-webkit-transition: border 0.1s ease-in-out;
	-o-transition: border 0.1s ease-in-out;
	transition: border 0.1s ease-in-out;
}

.index-link:hover {
	border-color: white;
}

/*index page home background*/
#home {
	background: url('hero.jpg') no-repeat center center/ cover;
	border: 30px solid white;
}

/*index page learn more background and locale layout*/
#about {
	background: url('benjamin-davies.jpg') no-repeat center center/ cover;
	border: 30px solid white;
}

#about > .sec-container {
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-flow: column nowrap;
	        flex-flow: column nowrap;
	height: 100vh;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin-right: 5%;
}

/*index page services background and locale layout*/
#services {
	background: url('holly-mandarich.jpg') no-repeat center center/ cover;
	border: 30px solid white;
}

#services > .sec-container {
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-flow: column nowrap;
	        flex-flow: column nowrap;
	height: 100vh;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin-left: 10%;
}

/*index page contact background and locale layout*/
#contact {
	background: url('felix-lam.jpg') no-repeat center center/ cover;
	border: 30px solid white;
}

#contact > .sec-container {
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-flow: column nowrap;
	        flex-flow: column nowrap;
	height: 100vh;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin-top: 10%;
}

/*index page gallery background and layout*/
#gallery {
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

	/*PROVINCE TABLE---------*/
	.index-table-province {
		width: 90%;
		height: 90%;

	}
	.index-tr-province {
		display: flex;
		flex-flow: column wrap;
		height: 25%;
	}
	.index-td-province {
		background: no-repeat center center /cover;
		color: white;
		font-size: 4vw;
		height: 100%;
		text-align: center;
		transition: transform 1s;
		margin: 15px;
	}
	.index-td-province:hover {
		transform: scale(1.1);
	}
	/*INDEX TABLE DATA TOOLTIP*/
	.tooltip {
		position:relative;
		border-bottom:1px dashed #000;
	}

	.tooltip:before {
	  	background: rgba(0, 0, 0, 0.5);
	  	border-radius:10px;
	  	color: white;
	  	content: attr(data-text);
	  	display:none;
	  	font-size: 2vw;
		max-width:90%;
	  	padding:10px;
	  	position:absolute;
	  	text-align:center;
	  	top:50%;
		}
	
	.tooltip:hover:before {
	 	display: block;
	}

/*footer copyright info*/
.footer {
	bottom:2px;
	color: black;
	position: absolute;
}

/*index page navigation bar*/
.nav {
	position: fixed;
	right: 40px;
	top: 100px;
}

.navBtn {
	cursor: pointer;
	height: 36px;
	position: relative;
	width: 40px;
}

.navBtn::after {
	border: 5px solid grey;
	border-radius: 50%;
	content: '';
	height: 14px;
	left: 10px;
	opacity: 0.5;
	position: absolute;
	width: 14px;
		
	top: 8px;		
}

.navBtn.active::after {
	border-color: white;
	opacity: 1;
}

.navBtn span {
	border-radius: 15px;
	color: white;
	opacity: 0;
	position: absolute;
	right: 40px;
	top: 7px;
	-webkit-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
	visibility: hidden;
	white-space: nowrap;
}

.navBtn:hover span {
	opacity: 1;
	visibility: visible;
}

/*registration page body settings*/
#reg-body {
	overflow: hidden;
}

/*registration page container settings*/
#reg-main {
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	background: url("kace-rodriguez.jpg") no-repeat center center/cover;
	border: 30px solid white;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 100vh;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin: 0;
	width: 100%;	
}

/*registration page container*/
.reg-form-container {
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	color: white;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-flow: column wrap;
	        flex-flow: column wrap;
	font-size: 1.5em;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;	
}

/*registration page form settings*/
.reg-form-container input {
	background: rgba(255, 255, 255, 1);
	max-width: 300px;
	min-width: 200px;
}

form {
	background: rgba(0, 0, 0, 0.8);
	border-radius: 25px;
	font-family: cursive;
	padding: 20px;
}

/*registration form validation text*/
.vali {
	visibility: hidden;
}

.error {
	
	background: rgba(0, 0, 0, 0.8);
	bottom: 150px;
	color: white;
	max-width: 240px;
	position: absolute;
	text-align:center;
}

/*contact page main*/
#contact-container {
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

	/*CONTACTS TABLE---------*/
	.contact-table-agent {
		width: 90%;
		height: 90%;

	}
	.contact-tr-agent {
		display: flex;
		flex-flow: column wrap;
		height: 25%;
	}
	.contact-td-agent {
		background: no-repeat center center /cover;
		color: white;
		font-size: 4vw;
		height: 100%;
		text-align: center;
		transition: transform 1s;
		margin: 15px;
	}
	.contact-td-agent:hover {
		transform: scale(1.1);
	}
	/*CONTACT TABLE DATA TOOLTIP*/
	.tooltip {
		position:relative;
		border-bottom:1px dashed #000;
	}

	.tooltip:before {
	  	background: rgba(0, 0, 0, 0.5);
	  	border-radius:10px;
	  	color: white;
	  	content: attr(data-text);
	  	display:none;
	  	font-size: 2vw;
		max-width:90%;
	  	padding:10px;
	  	position:absolute;
	  	text-align:center;
	  	top:50%;
		}
	
	.tooltip:hover:before {
	 	display: block;
	}

